<!DOCTYPE html>
<html>
	<head>
		<title>Snake Game</title>
		<%= stylesheet_link_tag('application', :media => 'all') %>
	</head>
	
	<body>
		<div id="content">
			<%= yield %>
		</div>
		
		<footer>
			<p id="copyright">&copy; Ryan Murphy</p>
		</footer>
	</body>
</html>